/*
---------------------------------------------
                            accessoriespage
---------------------------------------------
*/
                         {# top heading -- > Priority Heding #}

.Accessories_heading
    {
        margin-left:400px;
        margin-top:100px;
        z-index: 1;
        text-transform: uppercase;
        color:#ed563b;
        font-weight: bold;
        font-size:40px;
        text-shadow: 1px 1px 3px black, 0 0 5px orange, 0 0 0.2em white;
        z-index: 1;
    }
                                {# text in parellex Image #}

#accessories_page_big-img-text
    {
        color:#ed563b;
        font-family: Luminari;
        text-align: center;
        font-size:70px;
        margin-top:70px;
        text-shadow: 1px 1px 6px black, 0 0 10px black, 0 0 40px black;
        z-index: 1;
    }



